<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="d-flex min-vh-100">

    <nav class="w-25 p-3">
        <a href="#"><img class="logo-admin" src="{{ asset('images/kinderGame.png') }}" alt="Logo de KinderGame"></a>
        <ul class="d-flex flex-column gap-3 list-unstyled">
            <li><a class="nav-link mt-3" aria-current="page" href="{{ path('shop_index') }}">Accueil</a></li>
            <li><a class="nav-link" href="{{ path('app_admin_category') }}">Gérer les categories</a></li>
            <li><a class="nav-link" href="{{ path('app_admin_product') }}">Gérer les produits</a></li>
        </ul>
    </nav>

    <a class="btn logout-admin text-white" href="{{ path('app_logout') }}">Logout</a>

    <main class="container flex-grow-1 mb-3 main-admin">
        {% block main %}
        {% endblock %}
    </main>

</body>

</html>